:root {
  --c-page-bg: #fff;
  --c-page-text: #232323;
  --c-border: #ccc;
  --h-header: 50px;
  --c-scrollbar: #d9d9d9;
  --c-scrollbar-hover: #bbbbbb;
}

:root.dark {
  color-scheme: dark;
  --c-page-bg: #1e1e1e;
  --c-page-text: #fff;
  --c-border: #666;
  --c-scrollbar: #333333;
  --c-scrollbar-hover: #555555;
}

body {
  background-color: var(--c-page-bg);
  font-size: 16px;
  color: var(--c-page-text);
}

::selection {
  background: #8884;
}

* {
  scrollbar-color: var(--c-scrollbar) var(--c-page-bg);
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--c-page-bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}
